{% sw_extends "@Storefront/storefront/layout/footer/footer.html.twig" %}

{% block layout_footer_payment_shipping_logos %}
    {% block layout_battron_footer_payment_shipping_logos %}
        <div id="footerColumns" class="row g-3 footer-columns" data-collapse-footer="true">
            {% set config = page.footer.extensions.BattronFooterIcons %}
            {% set numberWords = ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten'] %}

            {% block layout_footer_payment_logos %}
                <div class="col-md-6 footer-column js-footer-column">
                    <div class="col-md-6 footer-column js-footer-column">
                        <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger text-white"
                             id="collapseFooterPaymentTitle"
                             data-target="#paymentMethods"
                             aria-expanded="true"
                             aria-controls="paymentMethods">
                                Einfach Bezahlen
                            <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                                <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="paymentMethods" class="footer-column-content collapse show">
                        <div class="row gy-3 "> <!-- Added gy-3 class for vertical spacing -->
                            {% for row in 0..2 %}
                                <div class="row g-2">
                                    {% for column in 0..2 %}
                                        {% set i = row * 3 + column %}
                                        {% set logoUrl = config['imgArray']['paymentLogo' ~ numberWords[i]] %}
                                        {% set link = config['paymentLink' ~ numberWords[i]] %}
                                        {% if logoUrl and link %}
                                            <div class="col d-flex justify-content-center align-items-center">
                                                <a href="{{ link }}">
                                                    <img src="{{ logoUrl }}" alt="Payment Logo {{ numberWords[i] }}" class="img-fluid w-50">
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block layout_footer_shipping_logos %}
                <div class="col-md-6 footer-column js-footer-column">
                    <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger text-white"
                         id="collapseFooterShippingTitle"
                         data-target="#shippingMethods"
                         aria-expanded="true"
                         aria-controls="shippingMethods">
                            Professioneller Versand
                        <div class="footer-column-toggle">
                            <span class="footer-plus-icon">
                                {% sw_icon 'plus' %}
                            </span>
                            <span class="footer-minus-icon">
                                {% sw_icon 'minus' %}
                            </span>
                        </div>
                    </div>
                    <div id="shippingMethods" class="footer-column-content collapse show">
                        {% for row in 0..2 %}
                            <div class="row g-2">
                                {% for column in 0..2 %}
                                    {% set i = row * 3 + column %}
                                    {% set logoUrl = config['imgArray']['shippingLogo' ~ numberWords[i]] %}
                                    {% set link = config['shippingLink' ~ numberWords[i]] %}
                                    {% if logoUrl and link %}
                                        <div class="col d-flex justify-content-center align-items-center">
                                            <a href="{{ link }}">
                                                <img src="{{ logoUrl }}" alt="Shipping Logo {{ numberWords[i] }}" class="img-fluid" style="width: 40%;">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
